<div class="pz-footer-slogan">
  <div class="pz-footer-title-row">
    <div class="pz-footer-line"></div>
    <span class="pz-footer-logo">{{ site.slogan_bottom | default: site.title | default: "n132" }}</span>
  </div>
</div>
